@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: DM Sans;
  }
}

@layer components {
  .btn {
    @apply font-medium rounded-full px-6 py-2;
    font-family: DM Sans;
  }
  .btn-primary {
    @apply bg-gradient-to-r from-lightblue to-deepblue text-white ;
    
  }

  .btn-outline {
    @apply border-2 border-lightblue text-lightblue;
  }

  .btn > i.fas {
    @apply ml-2;
  }

  .debug {
    outline: 1px solid red;
  }
  .debug-2 {
    outline: 1px solid green;
  }
  .debug-3 {
    outline: 1px solid yellow;
  }
}

.hero-background-mask {
  position: absolute;
  left: 12rem;
}